.root {
    margin: 0;
}

.classImg {
    width: 200px;
}

.idSing {
 display: flex;
 flex-direction: column;
 padding-left: 20px;
}



.cardUp {
    display: flex;
    width: 200px;
}

.cardDown {
    display: flex;
    justify-content:flex-start;
    gap:300px;
    border-top: 1 px solid grey;
}

.note {
    display: flex;
    flex-direction: row;
}